include AllAboutMonstrs/data/Anaktoria.otf
include AllAboutMonstrs/data/delineated_chromographs/trinitroceratops.svg
include AllAboutMonstrs/data/tessellated_chromographs/background.png
include AllAboutMonstrs/data/tessellated_chromographs/Trinitroceratops.png
include AllAboutMonstrs/data/tessellated_chromographs/Accountant.png
include AllAboutMonstrs/data/tessellated_chromographs/iconic/Cannon.png
include AllAboutMonstrs/data/tessellated_chromographs/iconic/Crops.png
include AllAboutMonstrs/data/tessellated_chromographs/iconic/Fence.png
include AllAboutMonstrs/data/tessellated_chromographs/iconic/gear.png
include AllAboutMonstrs/data/tessellated_chromographs/iconic/Housing.png
include AllAboutMonstrs/data/tessellated_chromographs/flourish/bottom-end.png
include AllAboutMonstrs/data/tessellated_chromographs/flourish/bottom-line.png
include AllAboutMonstrs/data/tessellated_chromographs/flourish/select-marker.png
include AllAboutMonstrs/data/tessellated_chromographs/flourish/top-end.png
include AllAboutMonstrs/data/tessellated_chromographs/flourish/top-line.png
include AllAboutMonstrs/data/tessellated_chromographs/flourish/top-mid.png
include AllAboutMonstrs/data/tessellated_chromographs/flourish/ribbon-blue.png
include AllAboutMonstrs/data/tessellated_chromographs/flourish/ribbon-gold.png
include AllAboutMonstrs/data/tessellated_chromographs/flourish/ribbon-red.png
include AllAboutMonstrs/data/tessellated_chromographs/flourish/ribbon-white.png
include AllAboutMonstrs/data/tessellated_chromographs/units/cannon.png
include AllAboutMonstrs/data/tessellated_chromographs/units/trinitroceratops.png
include AllAboutMonstrs/data/tessellated_chromographs/units/trinitroceratops.xcf
include AllAboutMonstrs/data/tessellated_chromographs/illustrations/boat.png
include AllAboutMonstrs/data/tessellated_chromographs/facilities/hfence.png
include AllAboutMonstrs/data/tessellated_chromographs/facilities/hfence.xcf
include AllAboutMonstrs/data/tessellated_chromographs/facilities/vfence.png
include AllAboutMonstrs/data/tessellated_chromographs/facilities/vfence.xcf
include AllAboutMonstrs/data/tessellated_chromographs/facilities/crops.png
include AllAboutMonstrs/data/tessellated_chromographs/facilities/housing.png
include AllAboutMonstrs/data/numerical_phonographs/cannon-place.ogg
include AllAboutMonstrs/data/numerical_phonographs/cannon.ogg
include AllAboutMonstrs/data/numerical_phonographs/dig.ogg
include LICENSE.txt
include README.txt
include android.txt
include AllAboutMonstrs/__init__.py
include AllAboutMonstrs/__main__.py
include AllAboutMonstrs/data.py
include AllAboutMonstrs/modes.py
include AllAboutMonstrs/typefaces.py
include AllAboutMonstrs/chapterstart_mode.py
include AllAboutMonstrs/preparation_mode.py
include AllAboutMonstrs/bestiary.py
include AllAboutMonstrs/grid.py
include AllAboutMonstrs/encyclopaedia_mode.py
include AllAboutMonstrs/chromographs.py
include AllAboutMonstrs/situation.py
include AllAboutMonstrs/units.py
include AllAboutMonstrs/gui.py
include AllAboutMonstrs/introductory_mode.py
include AllAboutMonstrs/style.py
include AllAboutMonstrs/onslaught_mode.py
include AllAboutMonstrs/facilities.py
include AllAboutMonstrs/chapters.py
include AllAboutMonstrs/accounting_mode.py
include AllAboutMonstrs/phonographs.py
include AllAboutMonstrs/victory_mode.py
include AllAboutMonstrs/visual_effects.py
include AllAboutMonstrs/data/Anaktoria.otf
include AllAboutMonstrs/data/delineated_chromographs/trinitroceratops.svg
include AllAboutMonstrs/data/tessellated_chromographs/background.png
include AllAboutMonstrs/data/tessellated_chromographs/Trinitroceratops.png
include AllAboutMonstrs/data/tessellated_chromographs/Accountant.png
include AllAboutMonstrs/data/tessellated_chromographs/iconic/Cannon.png
include AllAboutMonstrs/data/tessellated_chromographs/iconic/Crops.png
include AllAboutMonstrs/data/tessellated_chromographs/iconic/Fence.png
include AllAboutMonstrs/data/tessellated_chromographs/iconic/gear.png
include AllAboutMonstrs/data/tessellated_chromographs/iconic/Housing.png
include AllAboutMonstrs/data/tessellated_chromographs/flourish/bottom-end.png
include AllAboutMonstrs/data/tessellated_chromographs/flourish/bottom-line.png
include AllAboutMonstrs/data/tessellated_chromographs/flourish/select-marker.png
include AllAboutMonstrs/data/tessellated_chromographs/flourish/top-end.png
include AllAboutMonstrs/data/tessellated_chromographs/flourish/top-line.png
include AllAboutMonstrs/data/tessellated_chromographs/flourish/top-mid.png
include AllAboutMonstrs/data/tessellated_chromographs/flourish/ribbon-blue.png
include AllAboutMonstrs/data/tessellated_chromographs/flourish/ribbon-gold.png
include AllAboutMonstrs/data/tessellated_chromographs/flourish/ribbon-red.png
include AllAboutMonstrs/data/tessellated_chromographs/flourish/ribbon-white.png
include AllAboutMonstrs/data/tessellated_chromographs/units/cannon.png
include AllAboutMonstrs/data/tessellated_chromographs/units/trinitroceratops.png
include AllAboutMonstrs/data/tessellated_chromographs/units/trinitroceratops.xcf
include AllAboutMonstrs/data/tessellated_chromographs/illustrations/boat.png
include AllAboutMonstrs/data/tessellated_chromographs/facilities/hfence.png
include AllAboutMonstrs/data/tessellated_chromographs/facilities/hfence.xcf
include AllAboutMonstrs/data/tessellated_chromographs/facilities/vfence.png
include AllAboutMonstrs/data/tessellated_chromographs/facilities/vfence.xcf
include AllAboutMonstrs/data/tessellated_chromographs/facilities/crops.png
include AllAboutMonstrs/data/tessellated_chromographs/facilities/housing.png
include AllAboutMonstrs/data/numerical_phonographs/cannon-place.ogg
include AllAboutMonstrs/data/numerical_phonographs/cannon.ogg
include AllAboutMonstrs/data/numerical_phonographs/dig.ogg
include pyweek_upload.py
include run_game.py
include setup.py
